{% extends 'public_layout.html.twig' %}

{% block content_header_title %}{{ 'home.index.title'|trans }}{% endblock %}


{% block content_body %}
    <div class="row">
        {{ 'home.index.title'|trans }}
    </div>
{% endblock %}
