{% extends '_skeleton/_card_with_form.html.twig' %}

{% block card_form_btn_delete %}{% endblock %}

{% block card_form_btn_submit %}
    <button type="submit" class="btn btn-danger btn-sm">
        <span class="fa fa-trash" aria-hidden="true"></span>
        <span class="d-none d-md-inline">{{ 'meta.word.delete'|trans }}</span>
    </button>
{% endblock %}

{% block card_body %}
    {{ parent() }}

    {% if confirmation_message is defined %}
        <p class="lead">{{ confirmation_message|raw }}</p>
    {% endif %}
{% endblock %}

