parameters:
    app_directory_member_document_storage: '%env(resolve:DIRECTORY_MEMBER_DOCUMENT_STORAGE)%'

services:
    _defaults:
        autowire: true
        autoconfigure: true

        bind:
            string $appDirectoryMemberDocumentStorage: '%app_directory_member_document_storage%'
            string $kernelProjectDir: '%kernel.project_dir%'

    _instanceof:
        App\Table\TableFactoryInterface:
            tags: [ 'app.table.factory' ]

    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'

    gedmo.mapping.driver.attribute:
        class: Gedmo\Mapping\Driver\AttributeReader

    gedmo.listener.timestampable:
        class: Gedmo\Timestampable\TimestampableListener
        tags:
            - { name: doctrine.event_listener, event: 'prePersist' }
            - { name: doctrine.event_listener, event: 'onFlush' }
            - { name: doctrine.event_listener, event: 'loadClassMetadata' }

    gedmo.listener.loggable:
        class: App\Utils\LoggableListener
        tags:
            - { name: doctrine.event_listener, event: 'onFlush' }
            - { name: doctrine.event_listener, event: 'loadClassMetadata' }
            - { name: doctrine.event_listener, event: 'postPersist' }
        calls:
            - [ setAnnotationReader, [ '@gedmo.mapping.driver.attribute' ] ]
            - [ setActorProvider, [ '@App\Utils\LogActorProvider' ] ]

    App\Utils\MenuBuilder:
        tags:
            - { name: knp_menu.menu_builder, method: createMainMenu, alias: main }

    App\Table\TableFactoryCollection:
        arguments:
            - !tagged_iterator app.table.factory