{% extends 'layout.html.twig' %}

{% set url_cancel = path('admin_payment_edit', {'payment': payment.id}) %}

{% block content_header_title %}{{ 'admin.payment.change_status.title'|trans }}{% endblock %}

{% block content_body %}
    {% embed '_skeleton/_card_with_form.html.twig' %}
        {% block card_body %}
            {{ parent() }}
            <p class="lead">{{ 'admin.payment.change_status.confirmation_message'|trans({
                '%id%': payment.identifier,
                '%status%':(('payment.choice.status.' ~ status)|trans({}, 'forms'))
            }) }}</p>
        {% endblock %}
    {% endembed %}
{% endblock %}
