<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="{{ path('homepage') }}" class="brand-link">
        <img src="{{ asset('images/orcasso-logo-orca-white-250.png') }}" alt="Logo" class="brand-image" >
        <span class="brand-text font-weight-light">
            <span class="text-primary">orc</span>Asso
        </span>
    </a>
    <!-- sidebar -->
    <div class="sidebar">
        <nav class="mt-2">
        {{ knp_menu_render('main') }}
        </nav>
    </div>
    <!-- /.sidebar -->
</aside>

